.item {
  display: flex;
  gap: 8px;
  align-items: center;
  border-bottom: px solid rgba(0, 0, 0, 0.12);
}

.avatar {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
}

.icon {
  font-size: 24;
}

.text {
  display: block;
  max-width: 240px;
}

.box {
  display: flex;
  gap: 8px;
}
