.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  justify-content: center;
  width: 300;
  height: 360px;
  padding: 36px 48px;
  background-color: rgba(252, 252, 251, 0.4);
}

.field {
  width: 300px;
}
